@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  gap: 0.5rem;
  background-color: #3A9ACA;
  height: 100vh;
}

.nav__img {
  width: 23rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

nav p {
  color: white;
  font-family: "Poppins", sans-serif;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}

.ancore__menu {
  color: #171717;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: 1s;
}

.ancore__menu:hover {
  cursor: pointer;
  color: rgb(0, 54, 54);
}

.nav__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
}

.about__container {
  height: 50vh;
  background-color: #f3f4f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 27rem 0;
}

.about__svg {
  width: 70%;
  box-shadow: rgba(239, 239, 239, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 1rem;
  margin-left: 15rem;
  padding: 1.5rem;
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10rem;
}

.about__info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  color: #03001C;
  margin: 1rem;
}

.about__info p {
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  align-items: flex-end;
}

.portafolio__container {
  background-color: #f3f4f5;
}
.portafolio__container h3 {
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.portafolio__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.portafolio__flex a {
  opacity: 0.8;
  transition: 1s;
}

.portafolio__flex a:hover {
  transform: scale(105%);
  opacity: 1;
}

.portafolio__flex img {
  max-width: 30rem;
  border-radius: 1rem;
}

.skills__container {
  background-color: #f3f4f5;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 3rem;
}
.skills__container h2 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 2.3rem;
}

.skills__info {
  padding-bottom: 10rem;
}

.skills__info i {
  color: #3A9ACA;
  font-size: 4.2rem;
  margin: 1rem;
  text-shadow: 2px 5px 20px rgba(144, 144, 144, 0.3);
  transition: 0.5s;
  padding: 1rem;
  border-radius: 0.5rem;
}

.skills__info i:hover {
  transform: scale(100%);
  color: white;
  background-color: #3A9ACA;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.port__wave {
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
}

.contact__container {
  background-color: #3A9ACA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 5rem;
}

.contact__icons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 2rem;
}

.contact__icons a {
  font-size: 3rem;
  color: white;
}

.contact__icons a:hover {
  cursor: pointer;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact__info h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
}

.contact__info p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.698);
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contact__form label {
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
}

.contact__form label:hover {
  cursor: pointer;
}

.contact__form input {
  margin: 1rem;
  border-radius: 0.3rem;
  border: none;
}

.contact__form input[type=text] {
  width: 20rem;
  height: 10rem;
  font-size: 1rem;
}

.contact__form input[type=email] {
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
}

.contact__form button {
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

.contact__form button:hover {
  background-color: #246180;
}

@media only screen and (max-width: 768px) {
  nav {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .nav__img {
    width: 55%;
    margin: 1rem 0;
  }
  nav h1 {
    font-size: 3rem;
  }
  nav p {
    font-size: 1rem;
  }
  nav ul {
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }
  a {
    font-size: 2rem;
  }
  .nav__wave {
    position: relative;
    top: 3.5rem;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .about__container {
    flex-direction: column;
    padding: 10rem 0;
    height: auto;
  }
  .about__svg {
    width: 50%;
    margin: 0;
  }
  .about__info {
    margin: 3rem 0;
    align-items: center;
    text-align: center;
  }
  .about__info h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  .about__info p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
  .skills__container {
    background-color: #f3f4f5;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 3rem;
  }
  .skills__container h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 2.3rem;
  }
  .skills__info {
    padding-bottom: 10rem;
  }
  .skills__info i {
    color: #3A9ACA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4.2rem;
    margin: 1rem;
    text-shadow: 2px 5px 20px rgba(144, 144, 144, 0.3);
    transition: 0.5s;
    padding: 1rem;
  }
  .skills__info i:hover {
    transform: scale(100%);
    color: white;
    background-color: #3A9ACA;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1500px) {
  .about__container {
    padding: 15rem 0;
  }
  .about__svg {
    width: 50%;
    margin: 0;
  }
  .about__info {
    margin: 0;
  }
  .about__info h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  .about__info p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
}
@media only screen and (min-width: 1500px) {
  .about__container {
    height: 50vh;
    padding: 27rem 0;
  }
  .about__svg {
    width: 70%;
    margin-left: 15rem;
    margin-right: 0;
  }
  .about__info {
    margin-right: 15rem;
    margin-left: 10rem;
  }
  .about__info h2 {
    font-size: 2.3rem;
    margin: 1rem;
  }
  .about__info p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}/*# sourceMappingURL=index.css.map */