.portafolio__container {
  background-color: #f3f4f5;
  h3 {
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
}
.portafolio__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.portafolio__flex a{
    opacity: 0.8;
    transition: 1s;
}
.portafolio__flex a:hover{
    transform: scale(105%);
    opacity: 1;
}
.portafolio__flex img{
    max-width: 30rem;
    border-radius: 1rem
}